.repodetail-main {
    height: 92%;
    padding: 2rem 4rem;
}

.repodetail-data {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #ffb300;
    margin-bottom: 1rem;
    /* flex-direction: column; */
}

.repodetail-data-child {
    text-align: left;
    /* display: flex;
    justify-content: space-between; */
}

.project-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}